.corpo {
    color: rgb(61, 50, 2);
    background: floralwhite; 
}

.imagens {
    border-radius: 50px;
    border-style: solid;
    border-color: chartreuse;
}

.corrente {
    color:rgb(133, 4, 4)
}

.botao {
    color:rgb(133, 4, 4);
    background-color:  chartreuse;
}